extends ../layout

block content
  script(src='javascripts/jquery.min.js')
  script(src='javascripts/demo.js')
  
  h1= title
  p Welcome to #{title}
  form
    label Nombre
    input(name="nombre")
    label Correo
    input(name="correo")
    label Telefono
    input(name="telefono")
    button.btn.btn-primary#boton(type="submit",onClick="return false;") Enviar
  br
  table
    thead
      tr
        th Id
        th Nombre 
        th Correo 
        th Teléfono 
        th Accion 
    tbody
