extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='javascripts/home.js')
  h1= title
  p Welcome to #{title}
  form
    label Nombre
    input(name="nombre")
    label Correo
    input(name="correo")
    label Telefono
    input(name="telefono")
    button.btn.btn-primary#boton(type="submit",onClick="return false;") Enviar
  table
    thead
      tr
        th
          | Titulo
    tbody
      tr
        td
          | Info1
      tr
        td
          | Info1
